:root {
   --white-color: #fff;
   --white-semitransparent-color: #d7ccc0;
   --light-color: #f5f4f0;
   --main-color: #fe8a02;
   --main-dark-color: #42413c;
   --dark-color: #2a2626;
   --dark-semitransparent-color: #908d8b;
   --brown-color: #b09a81;
   --blue-color: #1085c5;
}

body {
   margin: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6em;
   color: var(--dark-color)
}

h1, h2, h3, h4, h5 {
   line-height:  1.2em;
   font-family: Neucha, cursive;
   font-weight: 400;
}

h1 {
   font-size: 72px;
   margin: 7px 0 191px;
   color: var(--main-color);
}

h2 {
   font-size: 60px;
}

h3 {
   font-size: 52px;
}

h4 {
   font-size: 34px;
}

a {
   text-decoration: none;
   color: inherit;
   display: block;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.container {
   max-width: 1110px;
   margin: 0 auto;
}

section,
.header-inner {
   padding: 100px 0;
}

.header {
   background-color: var(--light-color);
   position: relative;
   z-index: -3;
}

.header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../img/background.png);
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.06;
   z-index: -2;
}

.header-inner {
   position: relative;
}

.header-title span{
   color: var(--dark-color);
}

.header-img {
   position: absolute;
   top: 55px;
   left: 297px;
   z-index: -1;
}

.header-columns,
.component-columns {
   column-count: 2;
   column-width: 540px;
   column-gap: 30px;
}

.header-text {
   margin: 0 0 15px;
}

.header-text:first-child {
   margin-bottom: 80px;
}

.header-btn {
   border: none;
   display: block;
   margin-top: 40px;
   width: 148px;
   height: 49px;
   text-align: center;
   background-color: var(--main-color);

   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 160%;
   color: var(--white-color);
   font-weight: 700;
   text-transform: uppercase;
}

.video {
   text-align: center;
}

.video-title {
   color: var(--dark-color);
   margin: 0 0 27px;
}

.video-title span {
   color: var(--main-color);
}

.video-text {
   margin: 0 0 30px;
}

.video-container {
   position: relative;
}

.videoplayer {
   filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));

   position: absolute;
   /* top: -100px; */
   left: 50%;
   transform: translate(-50%);
   padding-bottom: 88px;
}

.navigation {
   margin-top: 377px;
   background-color:#2a2626;
}

.navigation-list {
   display: flex;
   gap: 20px 30px;
   flex-wrap: wrap;
   margin-top: 100px;
}

.navigation-title {
   margin: 0;
   color: var(--main-color);
}

.navigation-title span {
   color: var(--white-color);
}

.navigation-item.first-item {
   padding: 0;
   background-color: transparent;
}

.navigation-item {
   box-sizing: border-box;
   width: 350px;
   max-height: 348px;
   padding: 24px;
   background-color: var(--light-color);
}

.navigation-item-number {
   display: block;
   font-family: Neucha, cursive;
   font-weight: 400;
   font-size: 64px;
   color: var(--main-dark-color);
   margin: 24px 0 56px;
}

.navigation-item-title {
   margin: 0 0 11px;
   color: var(--main-color);
}

.ahother-margin {
   margin-bottom: 9px;
}

.navigation-item-text {
   color: var(--main-dark-color);
   margin: 0;
}

.ikea-effect {
   background-image: url(../img/ikea-bg.png);
   /* background-size: cover; */
}

.component-img {
   box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.15);
   display: block;
   margin-bottom: 100px;
}

.component-header {
   display: flex;
   gap: 30px;
   color: var(--dark-color);
}

.component-suptitle {
   color: var(--dark-semitransparent-color);
   font-size: 24px;
   margin: 0 0 4px;
}

.component-title {
   margin: 0 0 28px;
}

.component-text {
   margin: 0;
   font-family: Neucha, cursive;
   font-weight: 400;
   line-height: 120%;
   font-size: 34px;
}

.component-columns-title {
   column-span: all;
   display: block;
   color: var(--white-color);
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700;
   padding: 0 10px;
   background-color: var(--brown-color);
   margin: 0 0 20px;
}

.component-columns-text {
   margin-top: 0;
   line-height: 157%;
}